.navbar{
    background-color: #f3e9f1;
}
*{
    padding: 0px;
    margin: 0px;
}
.item{
    height: 600px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 70px ;
}
.item img{
    height: auto;
    max-width: 100% ;
    border-bottom: 1px solid black;


}
.item p{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
    display: inline-block;
}
.item button{
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 150px;
    
    
}